
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "DateTimePickerDemo";
}

<link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.js" type="text/javascript"></script>


<h1>DateTimePickerDemo</h1>

<div class="container">
    <div class="row">
        @Html.Label("DateTime using Jquery plug in", null,
        new { @class = "control-label col-sm-3" })
        <div class="col-sm-3">
            @Html.TextBox("datetimepicker")
        </div>
    </div>
</div>


<script src="~/js/datetimepicker.js" type="text/javascript"></script>


